@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 40 33% 98%; /* #faf8f5 */
        --foreground: 145 19% 19%; /* #1e5a35 */
        --muted: 146 14% 44%; /* #496953 */
        --muted-foreground: 145 19% 60%; /* #b7d1c1 */
        --popover: 40 33% 98%; /* #faf8f5 */
        --popover-foreground: 145 19% 19%; /* #1e5a35 */
        --card: 240 33% 98%; /* #e9f0ec */
        --card-foreground: 145 19% 19%; /* #1e5a35 */
        --border: 145 19% 80%; /* #a6c9b5 */
        --input: 145 19% 80%; /* #a6c9b5 */
        --primary: 145 19% 19%; /* #1e5a35 */
        --primary-foreground: 240 33% 98%; /* #e9f0ec */
        --secondary: 146 14% 44%; /* #496953 */
        --secondary-foreground: 240 33% 98%; /* #e9f0ec */
        --accent: 240 44% 88%; /* #d5d7f0 */
        --accent-foreground: 145 19% 19%; /* #1e5a35 */
        --destructive: 0 86% 45%;
        --destructive-foreground: 0 0% 100%;
        --ring: 145 19% 19%; /* #1e5a35 */
        --radius: 0.5rem;
        --sidebar-background: 40 33% 98%; /* #faf8f5 */
        --sidebar-foreground: 145 19% 19%; /* #1e5a35 */
        --sidebar-primary: 145 19% 19%; /* #1e5a35 */
        --sidebar-primary-foreground: 240 33% 98%; /* #e9f0ec */
        --sidebar-accent: 240 44% 88%; /* #d5d7f0 */
        --sidebar-accent-foreground: 145 19% 19%; /* #1e5a35 */
        --sidebar-border: 145 19% 80%; /* #a6c9b5 */
        --sidebar-ring: 146 14% 44%; /* #496953 */
    }

    html.dark,
    html[data-theme='dark'] {
        --background: 120 6% 10%; /* #1a1a1a */
        --foreground: 145 19% 80%; /* #a6c9b5 */
        --muted: 146 14% 44%; /* #496953 */
        --muted-foreground: 145 19% 80%; /* #a6c9b5 */
        --popover: 120 6% 10%; /* #1a1a1a */
        --popover-foreground: 145 19% 80%; /* #a6c9b5 */
        --card: 145 19% 19%; /* #384d41 */
        --card-foreground: 240 33% 98%; /* #e9f0ec */
        --border: 145 19% 80%; /* #a6c9b5 */
        --input: 145 19% 80%; /* #a6c9b5 */
        --primary: 145 19% 80%; /* #a6c9b5 */
        --primary-foreground: 120 6% 10%; /* #1a1a1a */
        --secondary: 146 14% 44%; /* #496953 */
        --secondary-foreground: 240 33% 98%; /* #e9f0ec */
        --accent: 145 19% 19%; /* #384d41 */
        --accent-foreground: 145 19% 80%; /* #a6c9b5 */
        --destructive: 0 86% 49%;
        --destructive-foreground: 0 0% 100%;
        --ring: 145 19% 80%; /* #a6c9b5 */
        --sidebar-background: 120 6% 10%; /* #1a1a1a */
        --sidebar-foreground: 145 19% 80%; /* #a6c9b5 */
        --sidebar-primary: 145 19% 80%; /* #a6c9b5 */
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }

    html.dark .shiki,
    html.dark .shiki span {
        color: var(--shiki-dark) !important;
        background-color: var(--shiki-dark-bg) !important;
        font-style: var(--shiki-dark-font-style) !important;
        font-weight: var(--shiki-dark-font-weight) !important;
        text-decoration: var(--shiki-dark-text-decoration) !important;
    }

    * {
        border-color: hsl(var(--border));
    }

    html {
        -webkit-tap-highlight-color: transparent;
        scroll-behavior: smooth;
    }

    html,
    body {
        height: 100%;
    }

    body {
        font-family: theme('fontFamily.sans');
        font-feature-settings: 'ss01';

        background-color: hsl(var(--background));
        color: hsl(var(--foreground));
    }
}
